/*Body*/
html {
}

body {
    position: relative;
    background-color: rgb(95, 96, 97);
    color:white;
    /*background: linear-gradient(#decdc3, #e0e0ec);*/
}

a:after {
    content: "";
}

body div.page-content {
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 30px;
}
/* Navbar */
.custom-nav {
    font-family: 'Ubuntu Mono', monospace !important;
    background-color: #123!important
}

.custom-nav a.nav-link{
    color: #80CBC4!important;
    font-size: 20px;
}

.custom-nav a.nav-link:hover{
    color: #00897B!important
}

.custom-nav a.nav-link:active{
    color: #00897B!important
}

.custom-nav a.navbar-brand{
    font-family: 'Walter Turncoat', cursive !important;
    color: #4DD0E1!important;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 3px;
    
} 
.custom-nav a.navbar-brand:hover{
    color: #00BCD4!important
} 

.custom-nav ul.navbar-nav a.nav-link.active {
    color: #00796B!important;
    font-weight: bold!important
}

.custom-nav ul.navbar-nav li.active a.nav-link {
    color: #00796B!important;
    font-weight: bold!important
}

/*Body*/
#top {
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    background: #000;
    /* border: 1px #00796B inset; */    
    box-shadow:0px 0px 250px #123;
}
#projects, #profile, #social-media {
    padding-top:40px;
}

#top a {
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    color: rgb(219, 240, 237);
}

#top a:hover {
    text-decoration: none;
}

.SoMe {
    margin: auto;
    text-align: center;
    border-radius: 3px;
}

.SoMe .SoMeIcon {
    margin: auto;
    width: auto;
    max-width: 70%;
    text-align: center;
    padding: 5px 20px;
}

.SoMe:hover {
    animation-name: borderboxshadow;
    animation-duration: 4s;
    animation-timing-function: ease-in;
}
.SoMe a {
    font-size: 35px;
    color: #aaaaaa
}
.SoMe a:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1);  /* Safari */
    transform: scale(1.1,1.1); /* Standard syntax */
    color: #00BCD4
}
.SoMe a:after {
    content: "";
}
.SoMe i:hover::after {
    content: "";
}

.SoMe h3 {
    color: red;
    font-family: 'Ubuntu Mono', monospace !important;
}

@keyframes borderboxshadow {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 5px 5px 5px #616161 ;
    }
}
/* Footer */
.footer {
    font-family: 'Ubuntu Mono', monospace !important;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color:  #80CBC4;
    background-color: #123!important;
    border-top: 1px solid  #80CBC4;
}

/*Custom BS*/
.tooltip {
    font-family: 'Mali', cursive, "Helvetica Neue", Helvetica, Arial, sans-serif ;
}

@media (min-width: 800px) {
    .custom-nav a.nav-link{
        color: #80CBC4!important;
        font-size: 26px;
        margin: 0 10px;
    }
    .custom-nav a.navbar-brand{
        font-size: 30px;        
    }
}

@media (max-width: 320px) {

    .custom-nav a.navbar-brand{
        font-size: 23px;
    }
}
