<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title%></title>

  <% include ../partials/header.ejs %>
</head>
<body data-spy="scroll" data-target="#main-navbar" data-offset="75">
    <% include ../partials/navbar.ejs %>
    <div class="container page-content" >
        <!--page content-->
        <!-- Contains projects-->
        <!--Open words-->
        <div id="top">            
            <h1>
                <a href="" class="typewrite" data-period="4000" data-type='[ "Hey, I am Sienna", "I am a web developer!" ]'>
                    <span class="wrap"></span>
                </a>
            </h1>
        </div>
        <!--Open words-->
        <!--Projects-->
        <div id="projects">
            <h1>Projects</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Odio tempor orci dapibus ultrices in iaculis nunc sed. Ac odio tempor orci dapibus ultrices in iaculis nunc. Ac tincidunt vitae semper quis lectus. Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Id aliquet risus feugiat in. Diam maecenas ultricies mi eget mauris pharetra et ultrices. Elit ut aliquam purus sit amet. Neque viverra justo nec ultrices. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Egestas congue quisque egestas diam in arcu cursus euismod. Vel eros donec ac odio tempor orci dapibus. Volutpat diam ut venenatis tellus. Lorem ipsum dolor sit amet consectetur. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis.
    
                Arcu bibendum at varius vel. Facilisis gravida neque convallis a cras semper auctor neque vitae. Tellus integer feugiat scelerisque varius morbi enim. A erat nam at lectus urna duis. Nisl nunc mi ipsum faucibus vitae aliquet nec. Sit amet est placerat in egestas erat imperdiet sed. Sapien et ligula ullamcorper malesuada proin. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Libero enim sed faucibus turpis in eu. Tortor posuere ac ut consequat semper viverra. Ac orci phasellus egestas tellus rutrum tellus pellentesque eu. Morbi tristique senectus et netus et malesuada fames ac turpis. Sit amet risus nullam eget felis eget nunc. Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget. Erat imperdiet sed euismod nisi porta lorem. Risus pretium quam vulputate dignissim suspendisse in est.
            </p>
        </div>
        <!--Projects-->
        <!--Profile-->
        <div id="profile">
            <h1>Profile</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Odio tempor orci dapibus ultrices in iaculis nunc sed. Ac odio tempor orci dapibus ultrices in iaculis nunc. Ac tincidunt vitae semper quis lectus. Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Id aliquet risus feugiat in. Diam maecenas ultricies mi eget mauris pharetra et ultrices. Elit ut aliquam purus sit amet. Neque viverra justo nec ultrices. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Egestas congue quisque egestas diam in arcu cursus euismod. Vel eros donec ac odio tempor orci dapibus. Volutpat diam ut venenatis tellus. Lorem ipsum dolor sit amet consectetur. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis.
    
                Arcu bibendum at varius vel. Facilisis gravida neque convallis a cras semper auctor neque vitae. Tellus integer feugiat scelerisque varius morbi enim. A erat nam at lectus urna duis. Nisl nunc mi ipsum faucibus vitae aliquet nec. Sit amet est placerat in egestas erat imperdiet sed. Sapien et ligula ullamcorper malesuada proin. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Libero enim sed faucibus turpis in eu. Tortor posuere ac ut consequat semper viverra. Ac orci phasellus egestas tellus rutrum tellus pellentesque eu. Morbi tristique senectus et netus et malesuada fames ac turpis. Sit amet risus nullam eget felis eget nunc. Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget. Erat imperdiet sed euismod nisi porta lorem. Risus pretium quam vulputate dignissim suspendisse in est.
            </p>
            <a href="/profile">Click to view profile</a>
        </div>
        <!--End of profile-->
        <!--Social media-->        
        <div id="social-media">
            <div class="container SoMe">
                ~~~
                <h3>Find me from</h3>
                <div class="SoMeIcon">
                    <a href="https://www.linkedin.com/in/quynhdao-197/" target="_blank"  data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    &nbsp;
    
                    <a href="mailto:siennd97@gmail.com?subject=This email is sent from Sienna's portfolio" target="_blank"  data-toggle="tooltip" data-placement="top" title="Send me an email">
                        <i class="fab fa-google"></i>
                    </a> 
                    &nbsp;
                    <a href="https://fb.com/quynhd.librian" target="_blank"  data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fab fa-facebook"></i>
                    </a> 
                    &nbsp;
                    <a href="https://github.com/siennad" target="_blank"  data-toggle="tooltip" data-placement="top" title="GitHub">
                        <i class="fab fa-github"></i>
                    </a> 
                </div>

            </div>
        </div>        
        <!--Social media-->        

    </div>
    <% include ../partials/footer.ejs %>
    <% include ../partials/body_end.ejs %>
</body>
</html>